@page
@model IndexModel
@{
    // Sets the title shown on the browser tab
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Northwind Traders</h1>

    <!-- Displays an image from a URL -->
    <img src="https://www.microsoft.com/en-us/power-platform/blog/wp-content/uploads/2019/06/nwindlogo.webp"
         alt="Northwind Foods" class="img-fluid my-4" />

    <!-- Introductory paragraph -->
    <p class="lead">
        Northwind Traders is a gourmet food import and export company,
        specializing in bringing the finest delicacies from around the world to your table.
        Explore our wide range of products and meet our diverse customer base!
    </p>
</div>
